.ir {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
  text-indent: -9999;
  overflow: hidden;
}

body {
  font-family: "Pretendard";
  width: 100%;
  height: 100vh;
  background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #f0f4ff 0%, #a5b6ee 100%);
}

.wrapper {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.logo-img {
  display: block;
  margin: 0 auto;
  width: 244px;
  height: 48px;
}

.timer {
  margin: 60px auto;
  width: 400px;
  height: 360px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(2.13%, #5572bb), color-stop(102.97%, #374b7c));
  background: linear-gradient(#5572bb 2.13%, #374b7c 102.97%);
  border-radius: 16px;
  -webkit-box-shadow: 20px 20px 60px 10px #374b7c66;
          box-shadow: 20px 20px 60px 10px #374b7c66;
}

.timer .timer-wrapper {
  padding: 48px 44px 40px;
}

.timer h1 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 23px;
}

.timer .timer-nums {
  margin: 0 auto;
  padding: 32px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #3d538a;
}

.timer .time-box {
  width: 80px;
  height: 80px;
  background: linear-gradient(314.28deg, #304577 0%, #4c65a0 83%);
  border: 1px solid #354971;
  border-radius: 4px;
  font-weight: 700;
  font-size: 40px;
  line-height: 88px;
  color: #fff;
  margin-top: 4px;
}

.timer span {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  color: #a5b6ee;
}

.timer-btn button {
  background-color: transparent;
  border: none;
}

footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8596bf;
}
